<div class="container">
  <h3>Editing Pre Application</h3>
  <%= render 'form', pre_application: @pre_application %>

  <%= link_to 'Show', @pre_application %> |
  <%= link_to 'Back', pre_applications_path %>

</div>
