<div class="jumbotron jumbotron-fluid bg-white">
  <div class="row">
    <div class="col-md-6 text-center">
      <h2 class="display-4">
        <span>社内申請システム</span>
      </h2>
      <p class="lead">ちゃんと社内承認取ろうね！</p>
      <% unless user_signed_in? %>
        <button type="button" class = "btn btn-primary" data-toggle="modal" data-target = "#user_loginModal">Log In</button>
      <% end %>
    </div>
    <div class="col-md-6 text-center">
      <%#= image_tag "landing.jpg", width:"45%",class: "m-3 rounded" %>
    </div>
  </div>
</div>

<div class="modal" id="user_loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header p-1">
        <button type="button" class ="close" data-dismiss="modal" aria-label="Close" name="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render './users/sessions/new.html.erb' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
